<!DOCTYPE html>
<html>
    <head>
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/css/app.css" >
    </head>
    <body>
        <div id="app">
            <header></header>
            {{{body}}}
            <footer></footer>
        </div>
    </body>
</html>